* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #0f0f0f;
}

.limite {
  width: 860px;
  margin: 0 auto;
}

.horizontal {
  display: flex;
  align-items: center;
}

header {
  background: #181818;
  padding: 26px;
  margin-bottom: 36px;
}

.header-canal {
  justify-content: space-between;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-right: 26px;
}

.check {
  height: 14px;
  width: 14px;
  margin-left: 10px;
}

header h2 {
  font: 24px "Roboto", sans-serif;
  color: #ffffff;
}

header span {
  font: 12px "Roboto", sans-serif;
  color: #aaaaaa;
}

.membro {
  font: 14px "Roboto", sans-serif;
  color: #1359db;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 14px;
  margin-right: 10px;
}

.inscrever {
  font: 14px "Roboto", sans-serif;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  padding: 4px 14px;
}

nav a {
  font: 14px "Roboto", sans-serif;
  color: #ffffff;
  margin-right: 14px;
  margin-top: 14px;
}

iframe {
  margin-right: 26px;
}

.destaque {
  align-items: flex-start;
}

.destaque h1 {
  font: 20px "Roboto", sans-serif;
  margin-bottom: 16px;
  color: #ffffff;
}

.destaque span {
  display: block;
  font: 10px "Roboto", sans-serif;
  margin-bottom: 16px;
  color: #aaaaaa;
}

.destaque p {
  font: 12px "Roboto", sans-serif;
  margin-bottom: 16px;
  color: #ffffff;
}

.destaque a {
  font: 12px "Roboto", sans-serif;
  color: #aaaaaa;
  text-transform: uppercase;
}

.destaque a:hover {
  color: #ffffff;
}
